<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Moi</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <h3>{{body}}</h3>
    <img class="portait" src="img/dinka-07.jpg" alt="">
    </div>
    {{>footer}}
</body>
</html>