body{
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}
.main-content{
    flex-grow: 1;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}

footer{
    color: #888888;
    border-top: 1px solid black;
    margin-top: 16px;
    padding: 16px 0;
}
.portrait{
    width: auto;
}
header a{
    text-decoration: none;
    margin: 10px;
    color: black;
    font-size: large;
    font-weight: 500;
}
input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}